arabic-reshaper==3.0.0
email-validator==2.1.1
Flask==2.3.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fpdf==1.7.2
gunicorn==23.0.0
hijri-converter==2.3.1
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
psycopg2-binary==2.9.9
python-bidi==0.4.2
reportlab==4.1.0
SQLAlchemy==2.0.28
twilio==8.14.0
weasyprint==61.1
Werkzeug==2.3.7
xlrd==2.0.1
xlsxwriter==3.1.9
# إضافة دعم MySQL لأن الاستضافة تستخدم MySQL
mysqlclient==2.2.4
pymysql==1.1.0
python-dotenv==1.0.1