Flask==2.3.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
gunicorn==21.2.0
psycopg2-binary==2.9.7
python-dotenv==1.0.0
Werkzeug==2.3.7
WTForms==3.0.1
SQLAlchemy==2.0.21
email-validator==2.0.0
Pillow==10.0.1
reportlab==4.0.4
openpyxl==3.1.2
pandas==2.1.1
twilio==8.9.1
arabic-reshaper==3.0.0
python-bidi==0.4.2
hijri-converter==2.3.1
numpy==1.25.2
xlrd==2.0.1
xlsxwriter==3.1.9
weasyprint==60.0
fpdf==2.7.6
sendgrid==6.10.0
pymysql==1.1.0
markupsafe==2.1.3